.header-right {
  position: absolute;
  padding: 10px 10px;
  top: 0%;
  right: 0%;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.date-at {
  font-size: 16px;
}

.contents li {
  font-size: 26px;
}

.job-title p {
  font-size: 16px;
  margin: 10px 0;
  line-height: 1;
}
